---
import Scroll from '../components/Scroll.astro';
---

<footer>
  <Scroll />
  <div class="w-full mt-10 md:mt-20 flex flex-col justify-center py-6 md:py-10">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4 md:gap-0 px-4 md:px-10">
      <div>
        <p class="text-sm md:text-base">2025 - Made by Favian Segovia based in <a href="https://www.figma.com/file/WpW0zrqxpdwiERXsWQtFif" target="_blank" class="underline">Joey Figma Design</a></p>
      </div>
      <div class="flex gap-x-3 md:gap-x-5">
        <a href="https://www.dribbble.com" class="text-base md:text-xl hover:text-gray-500 transition-colors">dribbble</a>
        <a href="https://www.instagram.com" class="text-base md:text-xl hover:text-gray-500 transition-colors">instagram</a>
        <a href="https://www.linkedin.com" class="text-base md:text-xl hover:text-gray-500 transition-colors">linkedin</a>
      </div>
    </div>
  </div>
</footer>
