<section>
  <div class="min-h-screen flex flex-col xl:mt-10 items-center justify-center px-4 md:px-6 lg:px-8">
    <h1 class="text-6xl  md:text-9xl lg:text-[170px] xl:text-[220px] leading-[120%] md:leading-[86%] lg:leading-[150px] font-bold lg:font-medium tracking-[-0.04em]">Websites & Branding</h1>
    
    <div class="w-full flex flex-col md:flex-row mt-8 md:mt-14 justify-between gap-6 md:gap-0">
      <div class="flex flex-col items-start">
        <p class="font-bold text-lg md:text-xl">Lets Talk</p>
        <p class="text-lg md:text-xl">example@me.com</p>
      </div>
      <div>
        <p class="text-lg md:text-xl max-w-[472px]">
          Hello, I'm Joey, an online product designer focusing on brand identity, advertising, and
          no-code instruments.
        </p>
      </div>
    </div>
  </div>
</section>
