---
import { Header } from '../components/Header';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import { initCustomCursor } from '../scripts/custom-cursor';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Website - Branding & Web</title>
    <ClientRouter />
  </head>
  <body class="bg-white dark:bg-black">
    <Header client:load />
    <div class="max-w-screen-xl grid grid-cols-12 mx-auto">
      <main class="col-span-12">
        <slot />
      </main>
    </div>
    <Footer />
    
    <script is:inline>
      function initCustomCursor() {
        const cursor = document.createElement('div');
        cursor.classList.add('custom-cursor');
        document.body.appendChild(cursor);

        document.addEventListener('mousemove', (e) => {
          cursor.style.left = `${e.clientX}px`;
          cursor.style.top = `${e.clientY}px`;
        });

        // Añade efecto de hover
        document.querySelectorAll('a, button, [data-hover]').forEach(el => {
          el.addEventListener('mouseenter', () => {
            cursor.classList.add('hover');
          });
          el.addEventListener('mouseleave', () => {
            cursor.classList.remove('hover');
          });
        });
      }

      document.addEventListener('astro:page-load', () => {
        initCustomCursor();
      });
    </script>
  </body>
</html>